<html>
    {% extends "base.html" %}
{% block content %}
<div class="alert alert-success" role="alert">
  <h1>Consensus calculator</h1>
  <p>This application was designed for the analisis of mass spectrometry data, the application needs normalized to base peak txt files to work.
  <hr>
  It was developed by Dra. Sandra Martínez Jarquín for the US-Forest Service and the U.S. Fish and Wildlife Service Forensics Laboratory as a part of a bigger application for the analysis of DART-MS spectra obtained from trees.
  <hr>
  You may use your files from another organism and ionization technique as long as they fill the requirements mentioned before, in case you find and error, a bug or if you have any suggestions you can reach me at <a href="mailto:jarquinsandra@gmail.com?Subject=consensus%20calculator%20bug%20">jarquinsandra@gmail.com</a> </p>
</div>
{% endblock %}
</html>